<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Sidebar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='home_header.css')}}" />

    <script>
        $(document).ready(function () {
            $('.d-downmenu').hide();
            $('.d-downbtn').click(function () {
                $('.d-downmenu').slideToggle();
            });

            // Toggle sidebar
            $('#sidebarToggle').click(function () {
                $('.sidebar').toggleClass('open');
                $(this).find('i').toggleClass('fa-bars fa-times');
            });
        });
    </script>
</head>

<body>
    <div class="sidebar">
        <!-- Sidebar content -->
        <a href="{{url_for('user_api.home')}}" class="text-decoration-none">
            <img src="{{url_for('static', filename='trans_logo.png')}}" alt="" srcset="" style="width: 174px;margin: 15px;">
        </a>

        <ul>
            <li><a href="#" onclick="openModal('modal1')"><i class="fa-solid fa-grip"></i> Dashboard</a></li>
            <li><a href="#" onclick="openModal('modal2')"><i class="fa-solid fa-plus"></i> Create Task</a></li>
            <li><a href="#" class="d-downbtn">List <i class="fa-solid fa-angle-down" style="float: right;"></i></a>
                <ul class="d-downmenu">
                    <li><a href="#">To-Do</a></li>
                    <li><a href="#">In Process</a></li>
                    <li><a href="#">Done</a></li>
                </ul>
            </li>
            <li><a href="#" onclick="openModal('modal4')"><i class="fa-solid fa-users"></i> Team Members</a></li>
            <li><a href="#" onclick="openModal('modal5')"><i class="fa-solid fa-gear"></i> Project
                    Settings</a></li>
            <li><a href="#" style="color: yellow;"><i class="fa-solid fa-crown"></i> Upgrade</a></li>
        </ul>
    </div>

    <div id="sidebarToggle" class="sidebar-toggle-btn"><i class="fa-solid fa-bars"></i></div>
    <div class="main_header_content">
        <div class="one_section">
            <div class="other_important_apps" onclick="openModal('modal1')"><i class="fa-solid fa-grip"></i></div>
            <div>
                <a href="{{url_for('user_api.home')}}" class="text-decoration-none">
                    <img src="{{url_for('static', filename='logo.png')}}" alt="" srcset="" style="width: 200px; ">
                </a>
            </div>
            <div><img src="../images/logo.png" alt="" srcset="" style="width: 200px;"></div>
            <div class="users_projects" onclick="openModal('modal3')">Projects <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="create_section" onclick="openModal('modal4')">
                <button class="btn btn-primary">
                    Create</button>
            </div>
        </div>
        <div class="one_section">
            <div class="upgrade_section" onclick="openModal('modal5')"><button class="btn">
                    <i class="fa-solid fa-crown"></i> Upgrade
                </button></div>
            <div class="User_section" onclick="openModal('modal6')">V</div>
        </div>

    </div>
    <!-- Modals -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <p>Other Related Apps <span class="text-danger">*</span></p>
            <div class="w-100 other_apps">
                <img src="https://i.pcmag.com/imagery/reviews/07td46ju7p6lLVb0QGwc5VF-6.fit_scale.size_760x427.v1569479844.jpg"
                    alt="" srcset="" class="other_app_image"><br>
            </div>
            <div class="w-100 other_apps">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxXFgLqvujcAvXFxmkBW3Y1U16pC6UAYA3xw&s"
                    alt="" srcset="" class="other_app_image"><br>
            </div>
            <div class="w-100 other_apps">

                <img src="https://sue.eu/wp-content/uploads/sites/6/2022/07/gitlab-logo-920x460-sue-v2.png" alt=""
                    srcset="" class="other_app_image"><br>
            </div>
            <div class="w-100 other_apps">

                <img src="https://blog.codewithdan.com/wp-content/uploads/2023/06/Docker-Logo.png" alt="" srcset=""
                    class="other_app_image"><br>
            </div>
        </div>
    </div>
    <div id="modal2" class="modal">
        <div class="modal-content">
            <p>Hello World 2 </p>
        </div>
    </div>
    <div id="modal3" class="modal">
        <div class="modal-content">
            <p>Hello World 3 </p>
        </div>
    </div>
    <div id="modal4" class="modal">
        <div class="modal-content">
            <p class="text-danger">Fill Up Data Is Mendtory Which Has * </p>
            <form action="" method="post">
                <div class="input-field mt-3">
                    <label>Project Name <span class="text-danger">*</span></label> <br>
                    <input type="text" name="" id="" class="w-75">
                </div>
                <div class="input-field mt-3">
                    <label>Summary</label> <br>
                    <input type="text" name="" id="" class="w-75">
                </div>
                <div class="input-field mt-3">
                    <label>Description</label> <br>
                    <textarea name="" id="" class="w-75"></textarea>
                </div>
                <div class="input-field mt-3">
                    <label>Reporter (Head Of Project) <span class="text-danger">*</span></label> <br>
                    <Select class="w-75">
                        <option value="cuser">None</option>
                        <option value="cuser">Vrushabh Gohil</option>
                    </Select>
                </div>
                <div class="input-field mt-3">
                    <label>GitHub / GitLab Link</label> <br>
                    <input type="text" name="" id="" class="w-75">
                </div>
                <div class="input-field mt-3">
                    <label>Status <span class="text-danger">*</span></label> <br>
                    <Select class="w-75">
                        <option value="To-Do">To-Do</option>
                        <option value="Done">Done</option>
                    </Select>
                </div>
                <button type="submit" class="form-button mt-4">Create</button>
            </form>
        </div>
    </div>
    <div id="modal5" class="modal">
        <div class="modal-content ">
            <div class="text-align-center">
                <img src="https://online.dda.org.in/idliservice/Images/under-maintenance.gif" alt="" srcset=""
                    class="maintenance">
            </div>
        </div>
    </div>
    {% block body %} {% endblock %}
    <script>
        function openModal(modalId) {
            document.getElementById(modalId).style.display = "block";
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = "none";
        }

        window.onclick = function (event) {
            const modals = document.getElementsByClassName('modal');
            for (let i = 0; i < modals.length; i++) {
                if (event.target == modals[i]) {
                    modals[i].style.display = "none";
                }
            }
        }

    </script>
</body>

</html>