<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='admin/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='common.css')}}">
    <title>Leaf Cafe</title>
</head>

<body class="container">
    <div class="header_section">
        <div class="sidebar_button mt-5"><button class="sec_btn"><i class="fa-solid fa-bars"></i></button></div>

        <div class="sidebar_content">
            <div class="sidebar_logo">
                <img src="{{url_for('static',filename='logo.png')}}" alt="" srcset="">
                <hr>
            </div>
            <div class="sidebar_menu mt-4">
                <div>
                    <a href="{{url_for('admin_api.home',tenant=tenant)}}">Home</a>
                </div>
                <div>
                    <a href="{{url_for('admin_api.products',tenant=tenant)}}">Products</a>
                </div>
                <div>
                    <a href="{{url_for('admin_api.users',tenant=tenant)}}">Users</a>
                </div>
                <hr>
                <div class="mt-5">
                    <a href="{{url_for('admin_api.add_offers',tenant=tenant)}}"><i class="fa-solid fa-plus"></i>Add Offers</a>
                </div>
                
                <div>
                    <a href="{{url_for('admin_api.add_product',tenant=tenant)}}"><i class="fa-solid fa-plus"></i> Add Product</a>
                </div>
               
            </div>
            <div class="sidebar_close_button"><button class="sec_btn"><i class="fa-solid fa-x"></i></button></div>

        </div>

        {% block body %}{% endblock %}


        <script>
            $(document).ready(function () {
                $(".sidebar_content").hide();
                $(".sidebar_button").click(function () {
                    $(".sidebar_content").fadeIn();
                });
                $(".sidebar_close_button").click(function () {
                    $(".sidebar_content").fadeOut();
                });
            });
        </script>
</body>

</html>