
/* <================== Logo =================> */
.logo{
    width: 35%;
}
.logo img{
    width: 100%;
}

/* <================== Display : Flex =================> */
.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 15px;
}
.header_section,.part_one,.menus{
    display: flex;
    align-items: center;
}
.part_one:nth-child(2){
    text-align: left;
    margin: 0 35px;
}
.menus a,.menus button{
    margin: 5px 15px;
}
.menus a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.menus button{
    width: 150px;
    height: 39px;
    border-radius: 10px;
    border: 1px solid #1e3932;
    background-color: transparent;
    color: var(--theam-color);
}
.menus button:hover{
    background-color: var(--theam-color);
    color: var(--font-color);
}

/* <================== Sidebar Content =================> */

.sidebar_button button,.sidebar_close_button button{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #1e3932;
    border-radius: 50%;
    color: #1e3932;
    background: transparent;
    text-align: center;
}
.sidebar_button button{
    display: none;
}
.sidebar_close_button {
    margin-top: 50px;
}
.sidebar_content{
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    overflow-y: hidden;
    background-color: var(--font-color);
    box-shadow: var(--shadow);
    padding: 15px;
    z-index: 999;
}

.sidebar_logo img{
    width: 80%;
}
.sidebar_menu a{
    color: var(--theam-color);
    line-height: 50px;
}
@media (max-width:1000px){
    .menus a, .menus button {
        margin: 5px 9px;
    }
}
@media (max-width:950px) {
    .logo{
        width: 50%;
    }
    .menus a,.first_btn {
        display: none;
    }
    
    .sidebar_button button{
        display: block;
    }
    .sidebar_content{
        width: 75%;
    }
}
@media (max-width:550px) {
    .logo{
        width: 100%;
    }
    .sidebar_content{
        width: 90%;
    }
}
