/* Slider */

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 2s ease;
  width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: #f1f1f1;
  border-right: 1px solid #ddd;
}
.slide img {
  width: 100%;
  height: 80vh;
}
.arrow {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  position: absolute;
  z-index: 999;
  bottom: 0;
  transform: translateY(-50%);
}
.arrow:hover {
  background: black;
  color: white;
  border: none;
}
#prev {
  left: 0.5pc;
}

#next {
  left: 5pc;
}

/* product pick */
.product,.details_store{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px 5%;
    text-align: center;
    margin: 3% 0%;
}
.product_data{
    max-width: 100%;
}
.product_data img{
    width: 50%;
    height:auto;
    object-fit: cover;
    border-radius: 50%;
}


/* <=================== Details About Cafe===================> */

.details_store {
    padding:5% 0;
    font-size: 25px;
  background-color: var(--theam-color);
  color: var(--font-color);
}
.detail {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.detail span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  animation: typewriter 2s steps(4, end);
}
@keyframes typewriter {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}


@media (max-width:950px) {
    .product,.details_store{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:450px) {
    .product,.details_store{
        grid-template-columns: repeat(2,1fr);
    }
}