
.image_dp{
    border: 4px solid yellow;
    border-radius: 50%;
    width: 11pc;
    height: 11pc;
    line-height: 10.2pc;
    text-align: center;
}
.image_dp img{
    width: 9.5pc;
    height: 9.5pc;
    object-fit: cover;
    border-radius: 50%;
}