/* signup form */
.social_login,
.signup_form input {
  width: 29pc;
  margin: 15px;
}
.social_login img,
.line_or h6 {
  background: var(--text-color);
}
.signup_title {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}

.signup_header p {
  font-size: 19px;
}

.social_login img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin: 1px;
}
.social_login {
  text-align: left;
  border: none;
  background-color: var(--theam-color);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 50px;
}
.new_button {
  background-color: rgb(23, 53, 83);
}

.signup_form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup_form div {
  margin: 0 50px;
  width: 100%;
}
.signup_form div:nth-child(2) {
  width: 2px;
  height: 50vh;
  background-color: gray;
  position: relative;
}
.line_or h6 {
  top: 44%;
  position: absolute;
  right: -9px;
  line-height: 40px;
  color: gray;
}
.signup_form input {
  border: none;
  width: 100%;
  height: 45px;
  color: red;
  border-bottom: 1px solid black;
}

.signup_form input:focus {
  border-bottom: 1px solid dodgerblue;
  outline: none;
}

.signup_btn {
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 150px;
  margin-top: 15px;
  color: var(--theam-color);
  font-size: 19px;
  font-weight: 500;
}

.signup_btn:hover {
  background-color: var(--theam-color);
  color: var(--text-color);
}

.forget_password {
  text-decoration: none;
  color: #423737;
  float: left;
  margin-left: 10%;
}

@media only screen and (max-width: 1020px) {
  .signup_form {
    display: block;
  }
  .signup_form div {
    margin: 0;
  }
  .signup_form div:nth-child(2) {
    background: transparent;
    text-align: center;
    width: 50%;
    height: 90px;
  }
  
}
@media only screen and (max-width: 580px) {
  .signup_form input {
    width: 80%;
  }
  .social_login {
    width: 88%;
  }
}
